.employee {
  th,
  td {
    padding: 1.25rem 0;
  }

  td:first-child,
  th:first-child {
    border-radius: 8px 0 0 8px;
  }

  td:last-child,
  th:last-child {
    border-radius: 0 8px 8px 0;
  }
}


